body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header-logo {
  padding: 14px 55px 3px 55px;
  box-shadow: 0px 5px 0 0 #b52933;
}

.main-footer-logo {
  padding: 13px 55px 13px 55px;
}
.header-button {
  display: flex;
}

.header-button a {
  padding: 10px 20px;
  display: block;
  vertical-align: middle;
}

.header-button .empty-basket,
.header-button .favorites {
  padding-left: 50px;
  position: relative;
}

.empty-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  background-color: #ff0000;
}

.favorites::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  background-color: #ff0000;
}

.empty-buy,
.full-buy {
  background-color: #63a63e;
}

.full-buy:hover,
.full-buy:focus {
  background-color: #5fbb2d;
}

.full-buy:active {
  background-color: #518534;
  color: #ffffff;
}

.main-header,
.catalog-header {
  background-color: #f3f7f9;
}

.header-container,
.header-block {
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}

.header-block {
  margin-bottom: 20px;
}

.header-top-panel {
  background-color: #293449;
  display: flex;
  width: 100%;
  margin-bottom: 33px;
  justify-content: space-between;
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 60px;
  justify-content: space-around;
  box-shadow: 0px 5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
  padding: 19px 30px;
}

.site-navigation li:first-child a {
  padding-left: 55px;
}

.site-navigation li:last-child a {
  padding-right: 55px;
}

.index-about-company {
  width: 520px;
}

.index-contacts {
  width: 300px;
}

.main-header-logo,
.main-footer-logo {
  background-color: #ee3643;
}

header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #000000;
  font-weight: 400;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.site-navigation,
.footer-catalog-navigation,
.footer-site-navigation,
.footer-social,
.index-about-company li {
  list-style: none;
}

.site-navigation a,
.footer-site-navigation a,
.footer-social a,
.header-top-panel a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.header-top-panel a:hover,
.header-top-panel a:focus {
  background-color: #212a3a;
}

.header-top-panel a:active {
  opacity: 0.6;
  background-color: #161d29;
}

a.main-header-logo:hover,
a.main-header-logo:focus,
a.main-footer-logo:hover,
a.main-footer-logo:focus {
  background-color: #8e1e26;
}

a.main-header-logo:active,
a.main-footer-logo:active {
  background-color: #9a212a;
}

.header-description {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  width: 200px;
  padding-left: 53px;
}

.header-phone {
  color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 52px 10px 74px;
  outline: 3px solid #ffffff;
  margin-bottom: 8px;
  position: relative;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ff0000;
}

.header-adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.user-navigation a {
  color: #000000;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

}

.user-navigation .login {
  padding: 11px 24px 11px 45px;
  margin-right: 10px;
  position: relative;
}


.user-navigation .login::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("img/svg/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ff0000;
}

.user-navigation .checkin {
  padding: 11px 24px;
}

.header-top-panel a.empty-buy,
.header-top-panel a.full-buy {
  background-color: #63a63e;
}

.header-top-panel a.full-buy:hover,
.header-top-panel a.full-buy:focus {
  background-color: #5fbb2d;
}

.header-top-panel a.full-buy:active {
  background-color: #518534;
  color: #ffffff;
}

.header-top-panel a.full-basket {
  background-color: #ee3643;
}
.header-top-panel a.full-basket:hover,
.header-top-panel a.full-basket:focus {
  background-color: #8e1e26;
}

.header-top-panel a.full-basket:active {
  background-color: #9a212a;
}

.main-column {
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.main-column p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-family:  "Cuprum", Arial, sans-serif;
  background-color: #ee3643;
  border: none;
  display: inline-block;
  padding: 8px 40px;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.index-about-company li {
  font-family: Cuprum;
  font-size: 18px;
}

footer {
  background-color: #32425c;
}

.footer-panel {
  background-color: #293449;
}

.footer-panel a {
  color: #ffd180;
}

.footer-catalog-navigation a {
  color: #ffd180;
}

.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
  color: #f1f5f7;
}

.footer-catalog-navigation a:active {
  opacity: 0.5;
  color: #ffd180;
}
.footer-panel a:hover,
.footer-panel a:focus, {
  text-decoration: underline;
}

.footer-panel a:active {
  text-decoration: underline;
  color: #ee3643;
}

footer p {
  color: #ffffff;
}

.footer-wrapper,
.footer-wrapper2,
.footer-column {
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation,
.footer-catalog-navigation {
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation {
  padding-top: 40px;
}

.footer-site-navigation li,
.footer-catalog-navigation li {
  margin-right: 60px;
}

.footer-site-navigation li:last-child,
.footer-catalog-navigation li:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 30px;
  margin-right: 4px;
}

.container h1 {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  }

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters legend {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
  line-height: 20px;
}


.catalog-list {
  list-style: none;
}

.catalog-item,
.catalog-item-hover {
  outline: 1px solid #e5e5e5;
}

.catalog-item h3,
.catalog-item-hover h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.catalog-item-old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999999;
}

.catalog-item-price {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.catalog-item .button-buy {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #63a63e;
}

.catalog-item .button-favorites {
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  outline: 2px solid #63a63e;
}

.footer-social {
  display: flex;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
}

.catalog-item,
.catalog-item-hover {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n),
.catalog-item-hover:nth-child(3n) {
  margin-right: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.modal {
  display: none;
}
